
<style media="screen">
  body{background-color: dimgrey;
  color: black;
font-size: 50px;
text-align: center;}
input{border-radius: 30px;
background-color: black;
padding-left: 15px;
padding-top: 15px;
color:white;}
</style>
Please dont insert script .. we are poor.. please<br>
<form class="" action="/check" method="post">
  <input type="text" name="user" placeholder="enter user name">
  <input type="text" name="pass" placeholder="enter your password">
  <input type="submit" value="submit">
</form>
