<!DOCTYPE html>
<html>
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="utf-8">
    <title>haha</title>
  </head>
  <style media="screen">
    body{text-align: center;
    font-size: 50px;
  font-weight: 400;
color: white;
background-color: black;}
  </style>

  <style media="screen">
    
  input{border-radius: 30px;
  background-color: black;
  padding-left: 15px;
  padding-top: 15px;
  color:white;}
  </style>
  <body>
  you had successfully loged in,  you cant open this page without password
  </body>
</html>
