
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style media="screen">
  body{background-color: yellow;
  color: white;
font-size: 50px;
text-align: center;}
input{border-radius: 30px;
background-color: black;
padding-left: 15px;
padding-top: 15px;
color:white;}
</style>
<head>
user doesnot exist...  add new user.. please dont inject code.. we are poor.. please..
</head>
<form class="" action="/dr" method="post">
  <input type="text" name="user" placeholder="enter user name"><br>
  <input type="text" name="pass" placeholder="enter your password"><br>
  <input type="submit" value="submit">
</form>
